body {
  color: #fff;
}

.nav-link {
  cursor: pointer;
}

.foto-about-me {
  width: 300px;
  margin: 0 auto;
}

/*  presentacion  */

.presentacion {
  background: url('../img/img-bg.png');
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  background-size: cover;
  padding: 30px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.btn-contactame {
  margin-top: 30px;
  padding: 10px 20px;
  color: #fff;
  background: none;
  border: 1.5px solid #fff;
  transition: 0.5s;
  border-radius: 5px;
  outline: none !important;
}

.btn-contactame:focus {
  outline: none !important;
}

.btn-contactame:hover {
  cursor: pointer;
  background: #fff;
  opacity: 0.9;
  color: #000;
  padding: 10px 40px;
  transition: 0.5s;
}

.icono {
  margin-left: 5px;
}

/* about me */
.about-me h2 {
  color: #FF5733;
}

/* portafolio */

.card {
  background: #2F2B2B;
  min-height: 400px;
  max-height: 400px;
}

.card img {
  min-height: 180px;
  max-height: 180px;
}

.btn-cards {
  background: #FF5733;
  opacity: 0.8;
  transition: 0.4s;
}

.btn-cards:hover {
  background: #FF5733;
  opacity: 1;
  transition: 0.4s;
}

/* footer  */

footer {
  background: #2F2B2B;
  padding: 30px;
}

.redes-sociales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.redes-sociales a {
  font-size: 3rem;
  margin: 0 30px;
  text-decoration: none;
  transition: 0.4s;
}

.redes-sociales a:hover {
  text-decoration: none;
  opacity: 0.6;
  transition: 0.4s;
}

.linkedin {
  color: #0E76A8;
}

.linkedin:hover {
  color: #0E76A8;
}

.github {
  color: #fff;
}

.github:hover {
  color: #fff;
}

.twitter {
  color: #00acee;
}

.twitter:hover {
  color: #00acee;
}